name: media


########################### NETWORKS
networks:
#  default:
#    driver: bridge
#  socket_proxy:
#    name: socket_proxy
  t3_proxy:
     external: true


include:
  ########################### SERVICES

  - jellyfin.yaml
  - jellyseerr.yaml
  - jellystat.yaml
  - wizarr.yaml
  - dispatcharr.yaml


